@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');


h1 {
  margin-top: 35%;
  font-size: 100px;
  font-family: "Helvetica", "Helvetica Neue";
  color: black;
}

#audioloader {
  color: blue;
  font-family: "Helvetica";
  font-size: 100px;
}

ul {
  text-align: left;
}


/*.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}*/


#textbox {
  user-select: text;
  resize: none;
  font-size: 14px;
  line-height: 20px;
  font-family: "Helvetica";
  display: block;
  box-shadow: rgb(204, 204, 204) 0px 0px 10px;
  width: 600px;
  min-height: 700px;
  overflow-y: hidden;
  color: rgb(38, 38, 38);
  margin: 50px auto;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  background: rgb(255, 255, 255);
  padding: 50px;
  margin-top: 210px;
}

#tr {
  border-radius: 0px;
}

input {
  font-family: "Roboto", sans-serif;
}

button {
  text-align: center;
}

#button1 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #222;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: #fff;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

#button2 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #222;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: yellow;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

#button3 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #222;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: orange;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

#button4 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #222;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: pink;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

#button5 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: black;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

/*body {
  background-color: yellow;
  -webkit-animation-name: changeColor; 
  -webkit-animation-duration: 6s; 
  animation-name: changeColor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes changeColor {
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue;}
  75%  {background-color:purple;}
  100% {background-color:red;}
}


@keyframes changeColor {
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue;}
  75%  {background-color:purple;}
  100% {background-color:red;}
}*/
body {
  /*background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);*/
  font-family: "Roboto", sans-serif;
  background-color: #E8E8E8
}

.progressbar {
  width: 200px;
}

.progressor {
   width: 615px;
   height: 20px;
   background: #DCDCDC;
  border-radius: 5px;
 }

 .progressor-progress {
   border-radius: 5px;
   background: red;
 }

audio {
  display: none;
}

header {
  margin-left: -10px;
  width: 100%;
  top: 0px;
  background-color: /*#AED6F1#85C1E9*/white;
  position: fixed;
  color: black;
  border-bottom: 1px solid black;
}

#time {
  margin-top: 0px;
  color: black;
}

#control {
  position: fixed;
  right: 10px;
  margin-top: 10px;
}

.textformatstyles {
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: #fff;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto";
}

#wc {
  color: black;
  content: " words";
  font-size: 15px;
  float: left;
  text-align: center;
  margin-left: 10%;
  margin-top: 5px;
}

.timestamp {
  color: blue;
}

#bottombar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: /*#85C1E9*/white;
  color: white;
  text-align: center;
  height: 3%;
  border-top: 1px solid black;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bottombtn {
  background-color: white;
  padding: 10px 5px 10px 5px;
  border-style: none;

  border-right: 1px solid black;
  border-bottom: none;
  left;
  left: 0;
}

.bottombtn:hover {
  background-color: #ECF0F1;
  padding: 10px 5px 10px 5px;
  border-style: none;
  
  border-right: 1px solid black;
  border-bottom: none;
  left: 0;
  
}

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('default.gif');
   background-repeat: no-repeat; 
   background-color: white;
   
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


