@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Faster+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');


h1 {
  margin-top: 35%;
  font-size: 100px;
  font-family: "Helvetica", "Helvetica Neue";
  color: black;
}

#audioloader {
  color: blue;
  font-family: "Helvetica";
  font-size: 100px;
}

ul {
  text-align: left;
}


/*.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}*/


#textbox {
  user-select: text;
  resize: none;
  font-size: 14px;
  line-height: 20px;
  font-family: "Helvetica";
  display: block;
  box-shadow: rgb(204, 204, 204) 0px 0px 10px;
  width: 600px;
  min-height: 700px;
  overflow-y: hidden;
  color: rgb(38, 38, 38);
  margin: 50px auto;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  background: rgb(255, 255, 255);
  padding: 50px;
  margin-top: 210px;
}

#tr {
  border-radius: 0px;
}

input {
  font-family: "Roboto", sans-serif;
}

button {
  text-align: center;
}

.button {
  padding: 3px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: white;
  border: none;
  border-radius: 15px;
  box-shadow: 4px 6px #999;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  position: relative;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.button:hover {
	background-color: #FFFAFA;
  box-shadow: 4px 5px #999;
  transform: translateY(1px)
}

.button:active {
  background-color: #FFFAFA;
  box-shadow: 4px 2px #999;
  transform: translateY(3px);
}

/*#button1 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #222;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: #fff;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

#button2 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #222;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: yellow;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

#button3 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #222;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: orange;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

#button4 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #222;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: pink;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

#button5 {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  background-color: black;
  border: solid #222 2px;
  display: inline-block;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto"
}

body {
  background-color: yellow;
  -webkit-animation-name: changeColor; 
  -webkit-animation-duration: 6s; 
  animation-name: changeColor;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes changeColor {
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue;}
  75%  {background-color:purple;}
  100% {background-color:red;}
}


@keyframes changeColor {
  0%   {background-color:red;}
  25%  {background-color:yellow;}
  50%  {background-color:blue;}
  75%  {background-color:purple;}
  100% {background-color:red;}
}*/
body {
  /*background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);*/
  font-family: "Roboto", sans-serif;
  background-color: #E8E8E8
}

.progressbar {
  width: 200px;
}

.progressor {
   width: 615px;
   height: 20px;
   background: #DCDCDC;
  border-radius: 5px;
 }

 .progressor-progress {
   border-radius: 5px;
   background: red;
 }

audio {
  display: none;
}

#header {
  width: 98%;
  top: 10px;
  left: 10px;
  background-color: /*#AED6F1#85C1E9*/white;
  position: fixed;
  color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 9px;
}

#time {
  margin-top: 0px;
  color: black;
}

#control {
  position: fixed;
  right: 20px;
  margin-top: 10px;
}

.textformatstyles {
  padding: 3px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #F0FFFF;
  border: none;
  border-radius: 15px;
  box-shadow: 4px 6px #999;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  position: relative;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.textformatstyles:hover {
	background-color: #FFFAFA;
  box-shadow: 4px 5px #999;
  transform: translateY(1px)
}

.textformatstyles:active {
  background-color: #FFFAFA;
  box-shadow: 4px 2px #999;
  transform: translateY(3px);
}

.timestamp {
  color: blue;
}

.bottombtn {
  padding: 3px 10px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #F0FFFF;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 5px #999;
  position: relative;
  font-family: "Roboto", "Helvetica", sans-serif;
  margin-bottom: 10px;
}

.bottombtn:hover {
	background-color: #FFFAFA;
  box-shadow: 4px 4px #999;
  transform: translateY(1px)
}

.bottombtn:active {
  background-color: #FFFAFA;
  box-shadow: 4px 1px #999;
  transform: translateY(3px);
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #000000;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.more {
  position: fixed;
  bottom: 15;
  margin-left: 15px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #F0FFFF;
  border: none;
  border-radius: 15px;
  box-shadow: 4px 6px #999;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.more:hover {
	background-color: #FFFAFA;
  box-shadow: 4px 5px #999;
  transform: translateY(1px)
}

.more:active {
  background-color: #FFFAFA;
  box-shadow: 4px 2px #999;
  transform: translateY(3px);
}

#morecontent {
  width: 300px;
  height: -webkit-fit-content;
  left: 10;
  bottom: 70;
  position: fixed;
  background-color: white;
  padding: 24px 20px 24px 20px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 5px;
  display: none;
}

#morecontenttitle {
  font-size: 50px;
}

#youtubeLoad {
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 15px;
  border-radius: 9px;
  position: fixed;
   width: 75%;
  bottom: 50%;
  display: none;
}
      
#youtube {
  left: 20;
  position: fixed;
  top: 200px;
}

#otinput {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.wc {
  position: fixed;
  bottom: 15;
  margin-left: 100px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  background-color: #F0FFFF;
  border: none;
  border-radius: 15px;
  box-shadow: 4px 6px #999;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", sans-serif;
}

.wc:hover {
	background-color: #FFFAFA;
  box-shadow: 4px 5px #999;
  transform: translateY(1px)
}

.wc:active {
  background-color: #FFFAFA;
  box-shadow: 4px 2px #999;
  transform: translateY(3px);
}

#mobilewarning {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 9;
  position: fixed;
  text-align: center;
  font-size: 55px;
  color: black;
  background-color: white;
  display: none;
}