<!DOCTYPE html>
<html>
  <head>
    <title>TypeAudio</title>
    <link rel="icon"  type="image/png" href="https://cdn.glitch.com/66ea34a8-d886-4d26-b80f-24392e5a9466%2FUntitled%20design.png?v=1571496810821">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="description" content="An online tool for easy manual transcribing of audios and videos.">
    <meta name="keywords" content="transcribe, transcribing, free, online, khaleel, gibran, audiofiles, audio, typeaudio, TypeAudio">
    <meta name="author" content="Khaleel Gibran">
    <meta name="google-site-verification" content="7rh8yEjrv93O6eXvxVl-v6TZiuZ0mn2M6tdq7hAq1W4" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <style>
      
    </style>
  </head>
  <body>
    <div id = "whole">
    
      <header id = "header">
        <div align = "center">
          <br>
          <audio preload = "auto" id="rllly" controls>
            <source src="" id="rlly" />
          </audio>
          <div class="progressbar"></div>
          <h5 id = "time"></h5>
          <div id = "textformat">
            <button class = "textformatstyles" id="jBold" title = "Bold "><b>B</b></button>
            <button class = "textformatstyles" id= "jItalic" title = "Italics"><i>I</i></button>
            <button class = "textformatstyles" id= "jUnder" title = "Underline"><u>U</u></button>
            <button class = "textformatstyles" id= "jUndo" title = "Undo">&olarr;</button>
            <button class = "textformatstyles" id= "jRedo" title = "Redo">&orarr;</button><br><br>
          </div>
         </div>
      </header>
      <div id = "control">
        <button class = "button" onclick = "playPause()" title = "Pause the audio.">||</button><br><br>
        <button class = "button" onclick = "playPause()" title = "Play the audio.">&#9658;</button><br><br>
        <button class = "button" onclick = "rewindAudio()" title = "Rewind the audio.">&#9194;</button><br><br>
        <button class = "button" onclick = "fastAudio()" title = "Fastforward the audio.">&#9193;</button><br><br>
        <button class = "button" onclick = "insertTimestamp()" title = "Insert interactive timestamp.">&#128339;</button><br><br>
       
        <a href = "https://www.typeaudio.glitch.me"><button class = "button">&#8634;</button><br><br></a>
        <a href = "/about"><button class = "button" id = "help" title = "About & Help">&#x3f;</button></a>
        
      </div>
      <div id = "textbox" contenteditable = "true">
      </div>

      <div class = "my-input-holder">      
      </div>

      <iframe id = "youtube" width="200" src = "" frameBorder="0">

      </iframe>
      
      <video width = "200" id = "bllly" controls>
        <source src="" id = "blly">
        Your browser does not support the video tag.
      </video>
      
      <button onclick = "closeyoutubeiframe()" id = "closeEl">
        X
      </button>
      
      <div id = "mobilewarning">
      </div>
      
    </div>
    
    <button class = "more" onclick = "showmorecontent()">
      <b>&#9881;</b>
    </button>
    <button class = "wc">
      <b><div id = "wc"><b></b></div></b>
    </button>
    <div id = "morecontent">
      <button class = "bottombtnn" onclick = "closemorecontent()">X</button>
      <button class = "collapsible" id = "collapsible1">LOAD AUDIO OR VIDEO FILE</button>
      <div class = "content">
        <br><section id = "otinput"><br><br></section><br>
        <button class = "bottombtn" onclick = "verybigyoutube()" title = "Load YouTube videos to transcribe.">LOAD YOUTUBE VIDEOS</button><br><br>
        <input type = "file" class = "bottombtn" value = "LOAD VIDEO FILES" id = "bll" title = "Browse for video files from your computer to transcribe."><br><br>
      </div><br>
      <button class = "collapsible" id = "collapsible2">PRINT TRANSCRIPT</button>
      <div class = "content">
        <button class="bottombtn" onclick="printf()"><b>PRINT</b></button>
      </div><br>
      <button class = "collapsible" id = "collapsible3">EXPORT TRANSCRIPT</button>
      <div class = "content">
        <br><br>EXPORT:<br><br><button id="cmd" class="bottombtn"><b>EXPORT PDF</b></button><br>
        <button id="btn-export" class="bottombtn" onclick="Export2Doc('textbox')"><b>EXPORT AS DOC</b></button><br>
        <button class="bottombtn" onclick="downloadInnerHtml()"><b>EXPORT AS .TXT</b></button>
      </div>
    </div>
    
    <div id="editor"></div>
    
    <center><div id = "youtubeLoad">
      To load a YouTube file, simply copy the last random digits of the URL of the YouTube video and paste it here.<br><br>
      <image src = "https://cdn.glitch.com/f24aaa89-a083-477a-8553-68ad2d194adf%2FCapture.JPG?v=1564675584420"></image><br><br>
      <input type = "text" id = "lastid">
      <button id = "getyoutubeurl" onclick = "loadyoutube()">
        SUBMIT
      </button><br>
      <button class = "bottombtnn" id ="cancel" onclick = "closepopup()">
        Cancel!
      </button>
    </div></center>
    
    <a href = "/old"><button id = "old"></button></a>
    <div id = "status"><i>&nbsp;</i></div>
    
    <script src = "pace.js"></script>
    <script src="progressor.min.js" type="text/javascript" charset="utf-8"></script>
    <script src ="client.js"></script>
    <script src = "main.js"></script>
    <script>
      var myProgressBar = new Progressor({
       media : document.getElementsByTagName('audio')[0],
       bar : document.getElementsByClassName('progressbar')[0],
       time: document.getElementById('time'),

       /*text: files[0].name,*/
     });
   </script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
   <script>
     var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

   $('#cmd').click(function () {
        doc.fromHTML($('#textbox').html(), 15, 15, {
            'width': 170,
                'elementHandlers': specialElementHandlers
        });
        doc.save('typeaudio.pdf');
    });
    </script>
  </body>
</html>
<!--https://codepen.io/dmack/pen/VLxpyv?editors=1111-->