<!DOCTYPE html>
<html>
  <head>
    <title>TypeAudio</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.glitch.com/66ea34a8-d886-4d26-b80f-24392e5a9466%2FUntitled%20design.png?v=1571496810821"
    />
    <meta name="viewport" content="width=device-width, initial-scale=0.5" />
    <style>
      h1 {
        margin-top: 35%;
        font-size: 100px;
        font-family: "Helvetica", "Helvetica Neue";
        color: black;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: -10px;
      }

      body {
        /*background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);*/
        font-family: "Roboto", sans-serif;
        background-color: #E8E8E8;
      }
    </style>
  </head>
  <body>
    <center><img src = "https://cdn.glitch.com/66ea34a8-d886-4d26-b80f-24392e5a9466%2FUntitled%20design.png?v=1571496810821"></center>
    <h1>
      Please use a modern desktop browser that supports HTML5 and make sure to enable JavaScript.
    </h1>
  </body>
</html>
